
*{
    font-family: 'Montserrat', sans-serif; 
    margin: auto 0px;
}
body{
    background-color: #181d31;
}
.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----------navegador-----------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 40px;
}
.menu{
    display:flex;
    justify-content: flex-end;
    gap: 50px;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #E6DDC4;
    width: 105px;
    height: 40px;
    box-shadow: 3px 3px 0px #678983;   
}
a{
    color: black;
    text-decoration: none;
}
.menu-item:active{
    transform: translate(2px,2px);
    box-shadow: none;
}
/*---------header----------*/
header{
    z-index: 1;
    background: url(./imagenes/codigo.jpg);
    background: cover;
    background-attachment: fixed;
    background-size: 150%;
    width: 100%;
}
.titulo-blanco{
    font-size:60px;
    text-align: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeee;
    position: relative;
    text-shadow: 2px 2px gray, 5px 5px black;
}
/*------------h2---------*/
h2{
    text-shadow: 2px 2px black;
    font-size:40px ; 
    text-align: center;
    color: #678983;   
}
/*------tarjetas main-----*/
.img-tarjeta{
    width: 400px;
}
.contenedor-padre{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:row;
}
.tarjeta{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: #E6DDC4;
    text-align: center;
    align-items: center;
    border: #678983 6px solid;
    height: 400px;
    top: 90px;
    bottom: 90px;
}
.boton-tarjeta{
    display: flex;
    color:#E6DDC4;
    border-radius: 12px;
    background-color:#181d31;
    justify-content: center;
    box-shadow: 2px 2px 0px #678983;
    align-items: center;
    width: 130px;
    height: 30px;
}
.boton-tarjeta:active{
    transform: translate(2px,2px);
    box-shadow: none;
}
/*-----footer------*/
footer{
    display: flex;
    align-items: center;
    background-color: #678983;
    position: relative;
    top: 200px;
    width: 100%;
    height: 180px;   
}
.h3-img-footer{
    display: flex;
    align-items: flex-start;
    position: relative;
    left: 20px;
    gap: 40px;
    color: #181d31;
    text-align: center;
}
.img-footer{
    width: 120px;
}
.texto-footer{
    position: relative;
    left: 1000px;
}
/*-------historia-------*/
.tarjeta-historia{
    display: flex;
    justify-content: space-evenly;
    color: #E6DDC4;
    gap: 80px;
    padding: 2%;
    padding-top: 3%;
}
.seccion-video{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0px;

}
.video{
    border: 2px solid black;
    width: 1000px;
}
.barra-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E6DDC4;
    background-color: rgb(70, 70, 70);
    width:1000px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}
.botones-video{
    box-shadow:2px 2px #678983;
    background-color:#E6DDC4;
    height: 30px;
    width: 60px;
    border-radius: 8px;
}

/*-----juego------*/
.recuadro-drop{
    background-color: grey;
    border: 3px dotted whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recuadro1{
    width: 310px;
    height: 502px;
}
.recuadro2{
    width: 279px;
    height: 503px;
}
.recuadro3{
    width: 258px;
    height: 504px;
}
.boton-reinicio-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-juego{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.boton-reinicio{
    color: black;
    background-color: #E6DDC4;
    box-shadow: 3px 3px 0px #678983;
    border-radius: 12px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
}
.section-juego{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-reinicio:active{
    box-shadow: none;
    transform: translate(3px,3px);
}
/*-----------logo--------*/

#monitor1,#teclado1{
    animation: logob ease-in 3s
}
 #monitor2,#teclado2{
    animation: logob ease-in 5.5s
 }
@keyframes logob{
    0%{
        transform: translate(0, -10px);
        opacity: 0;
    }
    20%{
        transform: translate(0,-10);
        opacity: 0;
    }
    40%{ transform: translate(0,0);
        opacity: 1;
    }
    70%{
        transform: translate(0,0);
        opacity: 1;
    }
    100%{
        transform: translate(0,0);
        opacity:1 ;
    }
}